@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
}

.cabeça {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;    
    align-items: center;
    background-color: rgb(201, 30, 30);
}

body {
    height: 200px;
}

.logo {
    display: flex;
    height: 80px;
    width: 80px;
}

.fla {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.registro {
    display: flex;
    justify-content: space-around;
}

.venda {
    display: flex;
    align-items: center;
}

.blusa {
    margin: 150px;
    padding: 0;
    border: 1px solid;
    height: 500px;
    width: 500px;
}

.descricao {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 30px;
}

p {
    margin: 0px 10px;
}