@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
}

.cabeça {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;    
    align-items: center;
    background-color: rgb(201, 30, 30);
}

.ajuda {
    display: flex;
      font-weight: bold;
      font-family:'Roboto', sans-serif;
      text-decoration: none;
      color: #ffffff;
  }
  
  .sobre {
    display: flex;
      font-weight: bold;
      font-family:'Roboto', sans-serif;
      text-decoration: none;
      color: #ffffff;
  }
  
  .login {
    display: flex;
      font-weight: bold;
      font-family:'Roboto', sans-serif;   
      text-decoration: none;
      color: #c41717;
      background-color: rgb(255, 255, 255);
      padding: 12px 24px;
      border-radius: 4px;
  }

  p {
    margin: 0px 10px;
}

body {
    height: 200px;
}

.logo {
    display: flex;
    height: 80px;
    width: 80px;
}

.fla {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.registro {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.venda {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 100px auto;
    gap: 24px;
}

.blusa {
    height: 580px;
    width: 534px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
}

.descricao {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title {
    color: #777;
    font-size: 20px;
    text-align: left;
}

.size-buttons {
    display: flex;
    gap: 24px;
  }
  
  .size-button {
    width: 48px;
    height: 48px;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #777;
  }

  .buy-button {
    background-color: #C91E1E;
    border-radius: 4px;
    width: 394px;
    height: 54px;
    text-align: center;
    color: #fff;
    border: none;
  }
  
  .size-button:hover {
    background-color: rgb(141, 0, 0);
    color: #fff;
  }

  .preco {
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
  }

  .descricao {
    text-align: center;
  }
